body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $primary;
  scroll-behavior: smooth;

  &.open {
    overflow: hidden;
  }
}

.title {
  &--main {
    color: $basic;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include tablet-range {
      font-size: 52px;
    }

    @include desktop-range {
      font-size: 72px;
      line-height: 86px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 767px;
  padding: 0 15px;

  @include tablet-range {
    max-width: 768px;
  }

  @include desktop-range {
    max-width: 1140px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  @include desktop-range {
    padding: 63px 0;
    min-height: 500px;
  }

  &_title {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 12px;
  }

  &_subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: $text;
  }

  &_descript {
    font-size: 12px;
    line-height: 18px;
    color: #101010;
  }
}

.link {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: $link;
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;

  &.open {
    @include mobile-only {
      display: block;
      animation: opacity 0.3s ease;
    }
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
  padding: 13px 30px;

  @include desktop-range {
    padding: 17px 34px;
  }

  &_text {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    color: $basic;
    text-transform: uppercase;

    @include desktop-range {
      font-size: 14px;
      line-height: 17px;
    }
  }
}