.intro {
  position: relative;
  padding: 157px 15px 87px;

  @include tablet-range {
    padding: 257px 15px 187px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/png/background-overlay.png") no-repeat;
    background-size: cover;
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/jpg/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  &_body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
  }

  &_text {
    max-width: 320px;
    color: $basic;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 8px;
    margin: 30px 0;

    @include tablet-range {
      max-width: 360px;
      font-size: 20px;
      line-height: 32px;
      margin: 34px 0;
    }

    @include desktop-range {
      max-width: 490px;
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 16px;
      margin: 39px 0;
    }
  }
}

.btn-signup {
  color: $link;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 6px;
  border: 0;
  padding: 13px 42px;

  @include tablet-range {
    font-size: 14px;
    line-height: 17px;
    padding: 17px 52px;
  }
}
