// --- colors ---
$basic: #FFFFFF;
$primary: #000000;
$secondary: #EE3D1B;
$tertiary: #D52047;
$text: #101010;
$text-light: rgba(19, 39, 67, 0.5);
$link: #ED4C5C;
$bg-light: #FAFAFA;
$bg-special: #ED4C5C;
$border: #333333;