<section class="cta section">
  <div class="container">
    <div class="cta_content">
      <div class="cta_info">
        <h2 class="cta_title section_title">Stay focused on saving money</h2>
        <p class="cta_desrcipt">
          It is important to stay focused on saving money in any way you can. We
          help you monitor your spending habits so you can easily spot and cut
          any unnecessary expenses. Simply join today to get started!
        </p>
        <div class="cta_icons">
          <img
            src="./assets/svg/ion-logo-google-playstore.svg"
            class="cta-icon"
            alt="playstore logo"
          />
          <img
            src="./assets/svg/ion-logo-apple-appstore.svg"
            class="cta-icon"
            alt="appstore logo"
          />
          <img
            src="./assets/svg/ion-simple-icons_windows.svg"
            class="cta-icon"
            alt="windows logo"
          />
        </div>
      </div>
      <div class="cta_image-box">
        <img src="./assets/png/slider.png" class="cta_img" alt="photo" />
      </div>
    </div>
  </div>
</section>
