<section class="features section">
  <h2 class="section_title">Features</h2>
  <div class="container">
    <div class="features_content">
      <div class="feature">
        <img
          src="./assets/jpg/features-01.jpg"
          class="feature_img"
          alt="money"
        />
        <div class="feature_content">
          <h3 class="section_subtitle">Supports All Currencies and Cards</h3>
          <p class="feature_desrcipt section_descript">
            We support all popular currencies and is fully customizable to add
          </p>
          <a href="/" class="feature_link link">Read More</a>
        </div>
      </div>

      <div class="feature">
        <img
          src="./assets/jpg/features-02.jpg"
          class="feature_img"
          alt="money app"
        />
        <div class="feature_content">
          <h3 class="section_subtitle">Manage your expenses on the go</h3>
          <p class="feature_desrcipt section_descript">
            You can access your account from anywhere in the world on any device
          </p>
          <a href="/" class="feature_link link">Read More</a>
        </div>
      </div>

      <div class="feature">
        <img
          src="./assets/jpg/features-03.jpg"
          class="feature_img"
          alt="office"
        />
        <div class="feature_content">
          <h3 class="section_subtitle">Cloud Budget Management Software</h3>
          <p class="feature_desrcipt section_descript">
            Our software is made so you can access and manage your budget
          </p>
          <a href="/" class="feature_link link">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
