<section id="overview" class="intro">
  <script id="template" type="text/x-handlebars-template">
    <div class="intro_body">
      <h1 class="title--main">
        CloudBudget
      </h1>
      <p class="intro_text">
        Cloud budget management for everyone. Only {{
          price.monthly
        }} a Month After a 7 Day Trial of Up to {{price.trial}}
      </p>
      <a href="/" class="btn-signup">
        Sign Up
      </a>
    </div>
  </script>
</section>
