<nav class="menu">
  <div class="container">
    <div class="menu_holder">
      <a href="#" class="menu_brand">
        <img src="../assets/svg/logo.svg" class="brand_logo" alt="logo" />
        <span class="brand_name">Cloudbudget</span>
      </a>
      <span class="menu-toggler"></span>
      <ul class="menu_links">
        <li class="menu-item menu-item--scrolling">
          <a href="#overview" class="menu-item_link active">Overview</a>
        </li>
        <li class="menu-item menu-item--scrolling">
          <a href="#features" class="menu-item_link">Features</a>
        </li>
        <li class="menu-item menu-item--scrolling">
          <a href="#technology" class="menu-item_link">Technology</a>
        </li>
        <li class="menu-item menu-item--scrolling">
          <a href="#cta" class="menu-item_link">Join</a>
        </li>
        <li class="menu-item menu-item--scrolling">
          <a href="#contact" class="menu-item_link">Contact</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item_link">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>