<section class="tech section">
  <h2 class="section_title">Technology</h2>
  <div class="container">
    <div class="tech_content">
      <div class="tech-item">
        <div class="tech-item_img-box">
          <img
            src="./assets/svg/bg-01.svg"
            class="tech-img tech-img--bg"
            alt="item number 1"
          />
          <img
            src="./assets/svg/cloud.svg"
            class="tech-img tech-img--icon tech-img--cloud"
            alt="cloud icon"
          />
        </div>
        <h3 class="section_subtitle">Cloud Storage</h3>
        <p class="tech_descript section_descript">
          Access your account from anywhere in the world on any device
        </p>
      </div>

      <div class="tech-item">
        <div class="tech-item_img-box">
          <img
            src="./assets/svg/bg-02.svg"
            class="tech-img tech-img--bg"
            alt="item number 1"
          />
          <img
            src="./assets/svg/security.svg"
            class="tech-img tech-img--icon"
            alt="security icon"
          />
        </div>
        <h3 class="section_subtitle">Secure</h3>
        <p class="tech_descript section_descript">
          All your information is stored on secure cloud servers
        </p>
      </div>

      <div class="tech-item">
        <div class="tech-item_img-box">
          <img
            src="./assets/svg/bg-03.svg"
            class="tech-img tech-img--bg"
            alt="item number 1"
          />
          <img src="./assets/svg/pdf.svg" class="tech-img tech-img--icon tech-img--pdf" alt="pdf icon" />
        </div>
        <h3 class="section_subtitle">PDF Download</h3>
        <p class="tech_descript section_descript">
          Download any of your reports in PDF format
        </p>
      </div>

      <div class="tech-item">
        <div class="tech-item_img-box">
          <img
            src="./assets/svg/bg-04.svg"
            class="tech-img tech-img--bg"
            alt="item number 1"
          />
          <img src="./assets/svg/csv.svg" class="tech-img tech-img--icon tech-img--csv" alt="csv icon" />
        </div>
        <h3 class="section_subtitle">CSV Download</h3>
        <p class="tech_descript section_descript">
          All your information is stored on secure cloud servers
        </p>
      </div>
    </div>
  </div>
</section>
