<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="test site" />
  <title>Cloudbudget</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
  {{> partials/menu.hbs}}
  <main>
    {{> partials/intro.hbs}}
    {{> partials/features.hbs}}
    {{> partials/technology.hbs}}
    {{> partials/cta.hbs}}
    {{> partials/contact.hbs}}
  </main>
  <span id="backdrop" class="backdrop"></span>
</body>

</html>